In [1]:
import pandas as pd
score_history = pd.read_csv('data/Outputs/歷年成績.csv')
score_history = score_history.drop('Unnamed: 0',axis=1)
score_history

       學年   學期       科目名稱  修別   學分    成績  排名   備註   pass
0   108.0  上學期  萃思創意思考與應用  選修  3.0  17.0 NaN    X  False
1   108.0  上學期     巨量資料分析  選修  3.0   NaN NaN   抵免   True
2   108.0  上學期     企業資源規劃  選修  3.0   0.0 NaN    X  False
3   108.0  上學期         操行  必修  0.0  86.0 NaN  NaN   True
4   108.0  上學期    書報討論（一）  必修  1.0   NaN NaN   抵免   True
5   108.0  上學期       創新研究  必修  3.0   NaN NaN   抵免   True
6   108.0  上學期       研究方法  必修  3.0   NaN NaN   抵免   True
7   108.0  下學期       科技管理  選修  3.0  89.0 NaN  NaN   True
8   108.0  下學期         操行  必修  0.0  85.0 NaN  NaN   True
9   109.0  上學期  萃思創意思考與應用  選修  3.0  94.0 NaN  NaN   True
10  109.0  上學期         操行  必修  0.0  89.0 NaN  NaN   True
11  109.0  下學期        演算法  選修  3.0  92.0 NaN  NaN   True
12  109.0  下學期         操行  必修  0.0  86.0 NaN  NaN   True
13  109.0  下學期     管理資訊系統  必修  3.0  89.0 NaN  NaN   True

## 必修 11 學分

In [2]:
need_score = pd.read_csv('data/Outputs/必修學分.csv',encoding = "big5")
need_score

        科目                         Subject  學分  學時 學期
0     研究方法                 Research Method   3   3  上
1     創新研究             Innovation Research   3   3  上
2  書報討論（一）                      Seminar（I）   1   2  上
3  書報討論（二）                     Seminar（II）   1   2  下
4   管理資訊系統  Management Information Systems   3   3  下

In [3]:
need_score['pass'] = False
for history_index, history_row in score_history.iterrows():
    for need_index,need_row in need_score.iterrows():
        if (history_row.科目名稱 == need_row.科目 and history_row['pass'] == True):
            need_score['pass'][need_index] = True
need_score

<ipython-input-3-8a44cd4cca95>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  need_score['pass'][need_index] = True

        科目                         Subject  學分  學時 學期   pass
0     研究方法                 Research Method   3   3  上   True
1     創新研究             Innovation Research   3   3  上   True
2  書報討論（一）                      Seminar（I）   1   2  上   True
3  書報討論（二）                     Seminar（II）   1   2  下  False
4   管理資訊系統  Management Information Systems   3   3  下   True

In [4]:
print("未修過必修課程為:")
need_score[need_score['pass'] == False]

未修過必修課程為:

        科目      Subject  學分  學時 學期   pass
3  書報討論（二）  Seminar（II）   1   2  下  False

## 選修18學分 英文3學分

In [5]:
choose_imformation = pd.read_csv('data/Outputs/imformation.csv')
choose_innovation = pd.read_csv('data/Outputs/innovation.csv')
choose_other = pd.read_csv('data/Outputs/other.csv')
choose_technology = pd.read_csv('data/Outputs/technology.csv')

choose_imformation = choose_imformation.drop('Unnamed: 0',axis=1)
choose_innovation = choose_innovation.drop('Unnamed: 0',axis=1)
choose_other = choose_other.drop('Unnamed: 0',axis=1)
choose_technology = choose_technology.drop('Unnamed: 0',axis=1)
# choose_technology
choose_innovation

            科目                                            Subject  english
0      企業創新與管理                 Business Innovation and Management    False
1  新興資訊科技與商業創新  E merging Information Technologies and B3u sin...    False
2         專利佈局                                      Patent Layout    False
3        專利與研發                                    Patents and R&D    False
4    萃思創意思考與應用          TRIZ-Innovative Thinking and Applications    False
5      服務創新與管理                  Service Innovation and Management    False
6    綠色能源應用與管理           Green Energy Applications and Management    False

### 每個學程至少一門

In [6]:
def check_if_learn(df):
    status = False
    for history_index, history_row in score_history.iterrows():
        for choose_index,choose_row in df.iterrows():
            if (history_row.科目名稱 == choose_row.科目 and history_row['pass'] == True):
                status = True
    return status

In [7]:
print("imformation:" + str(check_if_learn(choose_imformation)))
print("technology:" + str(check_if_learn(choose_technology)))
print("innovation:" + str(check_if_learn(choose_innovation)))

imformation:True
technology:True
innovation:True

### 學分數總計

In [8]:
def caculate_total_score(arr):
    total = 0
    for df in arr:
        for history_index, history_row in score_history.iterrows():
            for choose_index,choose_row in df.iterrows():
                if (history_row.科目名稱 == choose_row.科目 and history_row['pass'] == True):
                    total += 3
    return total

In [9]:
arr = [choose_imformation,choose_innovation,choose_technology,choose_other]
print("選修尚缺學分:" + str(18 - caculate_total_score(arr)))

選修尚缺學分:6